@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   @*  <a asp controllers="Home" asp-action="Home" class="btn btn-primary"> Overview</a> *@
    <a asp-controller="Livre" asp-action="CreateEditLivre" class="btn btn-primary"> Ajouter</a>

</div>
