@{
	ViewData["Title"] = "Livre";
}
<div class="text-center">
	<h1 class="display-4">Livre</h1>
	<p> Tintin aux Pays-bas </p>
	<br />
	<p> Boule de suif </p>
	<br />
	<p>Au Bonheur des dames</p>
</div>